.regularLink , .invertedLink{
    text-align: center;
    margin: 5px;
}

.regularLink a{
    text-decoration: none;
    display: inline-block;
    border: 3px solid var(--accent-color);
    border-radius: 50px;
    width: 120px;
    color: var(--accent-color);
}

.regularLink a:hover{
    color: white;
    background-color: var(--accent-color);
}

.invertedLink a{
    text-decoration: none;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50px;
    width: 120px;
    color: white;
}

.invertedLink a:hover{
    color: var(--accent-color);
    background-color: white;
}


